<!DOCTYPE html>
<html>
<head>
<title>login.html</title>
</head>

<body>
  <h2 align=center>login page</h2>

  <form method="POST">
    {% csrf_token %}
    {{ form }}
    <input type="submit" />
  </form>

  <!-- https://ordinarycoders.com/blog/article/django-password-reset -->
  <p><a href='../accounts/password_reset'>forgot password?</a></p>

  <br></br>
  <p align=center><a href='index.html'>index</a></p>
  <p align=center><a href='register.html'>register</a></p>
  <br></br>

</body>

</html>
